<script>
import RepositoryManager from '@/components/repository-manager'
import RefsExplorer from '@/components/refs-explorer'
import RefsOpener from '@/components/refs-opener'
import ChangedFiles from '@/components/changed-files'
import Commit from '@/components/commit'
import Push from '@/components/push'
import PromptUpstream from '@/components/prompt-upstream'
import PromptCreds from '@/components/prompt-creds'
import Pull from '@/components/pull'
import PromptNewRef from '@/components/prompt-new-ref'
import PromptPushUpstream from '@/components/prompt-push-upstream'

export default {
  name: 'the-app',
  components: {
    RepositoryManager,
    RefsExplorer,
    RefsOpener,
    ChangedFiles,
    Commit,
    Push,
    PromptCreds,
    PromptNewRef,
    PromptUpstream,
    PromptPushUpstream,
    Pull,
  },
  data: () => ({
  }),
}
</script>

<template>
  <div id="app" class="app">
    <refs-explorer class="app_offcanvas" />

    <el-container class="app_root">

      <el-header class="app_header">
        <div class="app_name">
          <img src="~@/assets/logo.png" alt="" class="app_logo">
          <h1 class="header">Git<span class="bold">Git</span></h1>
        </div>
        <repository-manager />
      </el-header>

      <div class="app_topbar" v-if="$store.repository.state.path">
        <pull />
        <refs-opener />
        <push />
        <prompt-upstream />
        <prompt-creds />
        <prompt-newRef />
        <prompt-push-upstream />
      </div>

      <el-main class="app_main">
        <template v-if="$store.repository.state.path">
          <changed-files />
          <commit />
        </template>
      </el-main>

      <el-footer class="app_footer">
        <a href="https://gitlab.com/soanvig/gitgit" class="link" v-external>GitLab</a>
      </el-footer>

    </el-container>
  </div>
</template>

<style lang="scss">
@import '~@/assets/scss/app.scss';
@import '~@/assets/scss/common.scss';

.app {
  overflow: hidden;
  display: flex;
}

.app, .app_root {
  width: 100vw;
  height: 100vh;
  font-weight: 300;
}

.app_offcanvas {
  width: 25vw;
  height: 100%;
  background: $color-darkest;
  box-shadow: inset -7px 0 20px -7px rgba(0, 0, 0, 0.5);

  &.is-active, &.is-active + .app_root {
    transform: translateX(0);
  }
}

.app_offcanvas, .app_root {
  flex-shrink: 0;
  transform: translateX(-25vw);
  transition: transform 0.3s ease-in-out;
}

.app_header {
  padding: 1em;
  // border-bottom: 1px solid $color-darker;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-darkest;
  color: $color-lightest;
}

.app_name {
  display: flex;
  align-items: center;
}

.app_logo {
  width: 30px;
  margin-right: 0.75em;
}

.app_main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > * {
    width: 100%;
    max-width: 650px;
  }
}

.app_topbar {
  display: flex;
  background: darken($color-darkest, 5%);
  color: $color-lightest;
  padding: 0 1em;
}

.app_footer {
  border-top: 1px solid $color-lighter;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
