<script>
export default {
  name: 'changed-files',
  computed: {

    /**
     * @returns {Array.<File>} staged files
     */
    staged () {
      return this.$store.repository.state.files.staged
    },

    /**
     * @returns {Array.<File>} unstaged files
     */
    unstaged () {
      return this.$store.repository.state.files.unstaged
    },

    /**
     * @returns {Array.<string>} paths of staged files
     */
    stagedPaths () {
      return this.staged.map(file => file.path)
    },
  },
  methods: {
    /**
     * Converts array of flat maps into directory structure
     */
    buildTree (paths) {

    },

    /**
     * Handles custom rendering of file item for el-transfer
     */
    fileRender (h, file) {
      const path = file.path.split('/')
      const filename = path.pop()
      return h('span', {
        attrs: {
          title: file.path,
        },
        class: {
          [`changed-files_transfer_file changed-files_transfer_file--${file.type}`]: true,
        },
      }, [
        h('span', {
          class: { [`changed-files_transfer_file_dir`]: true },
        }, path),
        path.length ? '/' : '',
        h('span', filename),
      ])
    },

    /**
     * Handles transfer of files between unstaged and staged list
     * using Element UI Transfer component.
     *
     * @param {Array.<string>} newState - array of paths left in list
     * @param {string} direction - says if files are moved to 'left' or 'right'
     * @param {Array.<string>} transferedFiles - array of paths moved from one list to another
     */
    handleTransfer (newState, direction, transferedFiles) {
      // filter files from observer (why it's there?)
      transferedFiles = transferedFiles.filter(file => typeof file === 'string')

      if (direction === 'left') {
        this.removeFiles(transferedFiles)
      } else {
        this.addFiles(transferedFiles)
      }
    },

    /**
     * Handles removing files. Commits `git reset --` on each file.
     */
    removeFiles (files) {
      this.$store.repository.git('remove', files)
    },

    /**
     * Handles adding files. Commits `git add` on each file.
     */
    addFiles (files) {
      this.$store.repository.git('add', files)
    },
  },
}
</script>
<template>
  <el-card class="changed-files">
    <div slot="header">{{ $t('repository.files.title') }}</div>
    <!--
      - Transfer component
      - :data {Array.<File>} - all available files (staged and unstaged)
      - :value {Array.<string>} - staged files (paths as keys)
    -->
    <el-transfer
      class="changed-files_transfer"
      :data="unstaged.concat(staged)"
      :value="stagedPaths"
      @change="handleTransfer"
      :render-content="fileRender"
      :props="{
        'key': 'path',
        'label': 'path'
      }"
      :titles="[
        $t('repository.files.unstaged'),
        $t('repository.files.staged')
      ]"
    />
  </el-card>
</template>
<style lang="scss">
  @import '~@/assets/scss/common';

  .el-card.changed-files {
    max-width: none;
  }

  .changed-files .el-transfer-panel {
    flex: 1 50%;
    width: auto;
  }

  .changed-files_transfer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .changed-files_transfer_file  {
    display: flex;
    padding-right: 1em;
  }

  .changed-files_transfer_file--created {
    color: $color-success;
  }

  .changed-files_transfer_file--deleted {
    color: $color-danger;
  }

  .changed-files_transfer_file--modified {
    color: $color-complete;
  }

  .changed-files_transfer_file--renamed {
    color: $color-warning;
  }

  .changed-files_transfer_file_dir {
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
