<script>
export default {
  name: 'commit',
  data () {
    return {
      title: '',
      description: '',
    }
  },
  computed: {
    isCommitDisabled () {
      return this.$store.repository.state.files.staged.length === 0
    },
  },
  methods: {
    handleSubmit () {
      const message = this.title + '\n' + this.description

      this.$store.repository.git('commit', message)

      this.title = ''
      this.description = ''
    },
  },
}
</script>
<template>
  <div class="commit">
    <el-input
      class="commit_field"
      placeholder="Commit title"
      v-model="title" />
    <el-input
      class="commit_field"
      placeholder="Commit description"
      :autosize="{ minRows: 2, maxRows: 5}"
      v-model="description"
      type="textarea" />
    <el-button
      type="success"
      @click="handleSubmit"
      :disabled="isCommitDisabled">
      Commit changes
    </el-button>
  </div>
</template>
<style lang="scss">
  @import '~@/assets/scss/common';

  .commit {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }

  .commit_field {
    margin-bottom: 0.5em;
    align-self: flex-end;
  }
</style>
