<script>
export default {
  name: 'prompt-creds',
  data () {
    return {
      username: '',
      password: '',
      showPassword: false,
    }
  },
  methods: {
    handleCancel () {
      this.$store.prompt.cancelNewRef()
    },

    handleSubmit () {
      this.$store.prompt.newRefFinish()
    },
  },
}
</script>
<template>
  <form
    class="prompt-new-ref"
    @submit.prevent="handleSubmit"
    v-if="$store.prompt.state.newRef.show">

    <el-input
      v-model="$store.prompt.state.newRef.name"
      :placeholder="$t('interface.newBranch')"
      class="prompt-input prompt-new-ref_field"
      >
    </el-input>

    <el-button
      type="primary"
      native-type="submit"
      size="small"
      >
      {{ $t('general.send') }}
    </el-button>

    <el-button
      type="warning"
      size="mini"
      @click="handleCancel"
      >
      {{ $t('general.cancel') }}
    </el-button>

  </form>
</template>
<style lang="scss">
  @import '~@/assets/scss/common';

  .prompt-new-ref {
    display: flex;
    align-items: center;
    padding-left: 1em;
  }

  .prompt-new-ref_field {
    margin-right: 1em;
  }
</style>
