<script>
export default {
  name: 'prompt-creds',
  data () {
    return {
      username: '',
      password: '',
      showPassword: false,
    }
  },
  methods: {
    handleCancel () {
      this.$store.prompt.credsCancel()
    },

    handleSubmit () {
      this.$store.prompt.credsFinish()
    },
  },
}
</script>
<template>
  <form class="prompt-creds" @submit.prevent="handleSubmit" v-if="$store.prompt.state.creds.show">

    <el-input
      v-model="$store.prompt.state.creds.username"
      :placeholder="$t('general.username')"
      class="prompt-input prompt-creds_field"
      >
      <span class="ion-person" slot="prepend"></span>
    </el-input>

    <el-input
      :type="showPassword ? 'text' : 'password'"
      v-model="$store.prompt.state.creds.password"
      :placeholder="$t('general.password')"
      class="prompt-input prompt-creds_field prompt-creds_field--password"
      >
      <span class="ion-android-lock" slot="prepend"></span>
      <template slot="append">
        <div @click="showPassword = !showPassword">
          <span class="ion-eye-disabled" v-if="showPassword"></span>
          <span class="ion-eye" v-else></span>
        </div>
      </template>
    </el-input>

    <el-button
      type="primary"
      native-type="submit"
      size="small"
      >
      {{ $t('general.send') }}
    </el-button>

    <el-button
      type="warning"
      @click="handleCancel"
      size="mini"
      >
      {{ $t('general.cancel') }}
    </el-button>

  </form>
</template>
<style lang="scss">
  @import '~@/assets/scss/common';

  .prompt-creds {
    display: flex;
    align-items: center;
    padding-left: 1em;
  }

  .prompt-creds_field {
    margin: 0 0.5em;
    width: 200px;

    .el-input-group__append {
      cursor: pointer;
      background: $color-warning;
    }
  }

  .prompt-creds_field--password {
    width: 240px;

    .el-input-group__append {
      padding: 0;
      height: 100%;

      div {
        padding: 0 10px;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
</style>
