<script>
import refs from '@/mixins/refs'

export default {
  name: 'prompt-upstream',
  mixins: [refs],
  data () {
    return {
      newMerge: '',
      newRemote: '',
    }
  },
  computed: {
    defaultMerge () {
      return this.currentBranch || ''
    },
    defaultRemote () {
      return 'origin'
    },
    merge () {
      return this.$store.prompt.state.upstream.merge
    },
    remote () {
      return this.$store.prompt.state.upstream.remote
    },
    show () {
      return this.$store.prompt.state.upstream.show
    },
  },
  methods: {
    handleCancel () {
      this.$store.prompt.upstreamCancel()
    },

    handleSubmit () {
      // Defaults to origin/<branch-name>
      this.$store.prompt.upstreamFinish({
        merge: this.newMerge || this.defaultMerge,
        remote: this.newRemote || this.defaultRemote,
      })
    },
  },
  watch: {
    // Everytime show changes, reset values
    show () {
      this.newMerge = ''
      this.newRemote = ''
    },
  },
}
</script>
<template>
  <form class="prompt-upstream" @submit.prevent="handleSubmit" v-if="show">
    <el-input
      :value="remote"
      @input="(value) => newRemote = value"
      :placeholder="defaultRemote"
      class="prompt-input prompt-upstream_field prompt-upstream_field--remote"
      />
    /
    <el-input
      :value="merge"
      @input="(value) => newMerge = value"
      :placeholder="defaultMerge"
      class="prompt-input prompt-upstream_field prompt-upstream_field--merge"
      />
    <el-button
      type="primary"
      native-type="submit"
      @click="handleSubmit"
      size="small"
      >
      {{ $t('interface.saveUpstream') }}
    </el-button>
    <el-button
      type="warning"
      size="mini"
      @click="handleCancel"
      >
      {{ $t('general.cancel') }}
    </el-button>
  </form>
</template>
<style lang="scss">
  @import '~@/assets/scss/common';

  .prompt-upstream {
    display: flex;
    align-items: center;
    padding-left: 1em;
  }

  .prompt-upstream_field {
    margin: 0 0.5em;
  }

  .prompt-upstream_field--remote {
    width: 140px;
  }

  .prompt-upstream_field--merge {
    width: 200px;
  }
</style>
