<script>
export default {
  name: 'prompt-push-upstream',
}
</script>
<template>
  <el-dialog
    :title="$t('general.configuration')"
    width="500px"
    :visible="$store.prompt.state.pushUpstream.show"
    >
    <span>{{ $t('repository.suggestPushUpstream.doSet') }}</span>

    <div slot="footer" class="prompt-push-upstream_options">
      <el-popover
        placement="bottom"
        trigger="click"
        width="300"
        :content="$t('repository.suggestPushUpstream.description')">
        <el-button slot="reference" icon="ion-help"></el-button>
      </el-popover>

      <div>
        <el-button @click="$store.prompt.pushUpstreamFinish()">{{ $t('general.no') }}</el-button>
        <el-button type="primary" @click="$store.prompt.pushUpstreamFinish(true)">
          {{ $t('general.yes') }}
        </el-button>
      </div>
    </div>
  </el-dialog>
</template>
<style lang="scss">
  @import '~@/assets/scss/common';

  .prompt-push-upstream_options {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
</style>
