<script>
import refs from '@/mixins/refs'

export default {
  name: 'pull',
  mixins: [refs],
  methods: {
    handlePull () {
      this.$store.repository.git('pull', this.currentBranch)
    },
  },
}
</script>
<template>
  <el-tooltip
    effect="dark"
    :content="$t('general.pull')"
    :open-delay="500"
    placement="bottom">
    <el-button
      @click="handlePull"
      class="pull topbar-field"
      icon="icon ion-android-download" />
  </el-tooltip>
</template>
<style lang="scss">
  @import '~@/assets/scss/common';
</style>
