<script>
import refs from '@/mixins/refs'

export default {
  name: 'push',
  mixins: [refs],
  methods: {
    handlePush () {
      this.$store.repository.git('push', this.currentBranch)
    },
  },
}
</script>
<template>
  <el-tooltip
    effect="dark"
    :content="$t('general.push')"
    :open-delay="500"
    placement="bottom">
    <el-button
      @click="handlePush"
      class="push topbar-field"
      icon="icon ion-android-send" />
  </el-tooltip>
</template>
<style lang="scss">
  @import '~@/assets/scss/common';
</style>
