<script>
import refs from '@/mixins/refs'

export default {
  name: 'refs-opener',
  components: {
  },
  mixins: [refs],
  methods: {
    handleClick () {
      this.$store.app.state.refsExplorerOpen = !this.$store.app.state.refsExplorerOpen
    },
  },
}
</script>
<template>
  <el-tooltip
    effect="dark"
    :content="$t('interface.selectBranch')"
    :open-delay="500"
    placement="bottom">
    <el-button
      icon="ion-usb"
      class="refs-opener topbar-field"
      @click="handleClick"
      >
      {{ currentBranch }}
    </el-button>
  </el-tooltip>
</template>
<style lang="scss">
  @import '~@/assets/scss/common';

  .refs-opener {
    font-weight: 300;
  }
</style>
