<script>
import refs from '@/mixins/refs'

export default {
  name: 'refs-explorer',
  components: {
  },
  mixins: [refs],
  methods: {
    handleSelect (ref) {
      if (ref === -1) {
        // Create new ref
        this.$store.prompt.newRef()
      } else {
        // Checkout
        this.$store.repository.git('checkout', ref)
      }

      this.$store.app.state.refsExplorerOpen = false
    },
  },
}
</script>
<template>
  <div class="refs-explorer" :class="{ 'is-active': $store.app.state.refsExplorerOpen }">

    <ul class="refs-explorer_list">
      <li class="refs-explorer_item refs-explorer_item--new" @click="handleSelect(-1)">
        <span class="ion-ios-plus-empty refs-explorer_item_icon"></span>
        {{ $t('interface.newBranch') }}
      </li>
      <li
        v-for="ref in refs.head"
        :key="`ref-${ref.name}`"
        class="refs-explorer_item"
        :class="{ 'refs-explorer_item--selected': ref.name === currentBranch }"
        @click="handleSelect(ref.name)">
        {{ ref.name }}
        <span class="refs-explorer_item_ahead-behind" v-if="ref.ahead || ref.behind">
          <span v-if="ref.ahead">
            <span class="ion-ios-arrow-thin-up"></span>
            {{ ref.ahead }}
          </span>
          <span v-if="ref.behind">
            <span class="ion-ios-arrow-thin-down"></span>
            {{ ref.behind }}
          </span>
        </span>
      </li>
    </ul>
  </div>
</template>
<style lang="scss">
  @import '~@/assets/scss/common';

  .refs-explorer {
    padding: 1em 1em;
    box-sizing: border-box;
    color: $color-lightest;
    overflow: auto;
  }

  .refs-explorer_item {
    display: flex;
    padding: 0.4em 1.25em;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:not(.refs-explorer_item--new):hover {
      background: rgba(100, 100, 100, 0.1);
    }
  }

  .refs-explorer_item--new {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #606266;
  }

  .refs-explorer_item--selected {
    color: $color-primary-light;
    font-weight: bold;
  }

  .refs-explorer_item_icon {
    margin-right: 0.5em;
  }

  .refs-explorer_item_ahead-behind {
    margin-left: 1em;
    font-size: 0.8em;
  }
</style>
