<script>
import { remote } from 'electron'
const { dialog } = remote

const config = {
  maxPathLength: 50,
}

export default {
  name: 'repository-manager',
  data () {
    return {
      isFileDialogOpen: false,
      isManagerDialogOpen: false,
    }
  },
  computed: {
    /**
     * @returns {Array.<Repo>} array of all repositories in database
     */
    allRepositories () {
      return this.$store.repositoryManager.state.repos
    },

    /**
     * @returns {string} path to selected repository
     */
    path () {
      return this.$store.repository.state.path
    },
  },
  filters: {
    /**
     * Shortens path to `config.maxPathLength`. Adds `...` if shortened.
     * @param {string} path - path to shorten
     *
     * @returns {string} shortened path
     */
    cutPath (path) {
      if (path.length > config.maxPathLength) {
        const beginning = path.slice(0, 10)
        const ending = path.slice(path.length - config.maxPathLength + 10 + 3)
        return `${beginning}...${ending}`
      }

      return path
    },
  },
  mounted () {
    this.$store.repositoryManager.init()
  },
  methods: {
    /**
     * Shows select directory dialog
     */
    handleOpen () {
      // Open dialog only if it's not open
      if (!this.isFileDialogOpen) {
        this.isFileDialogOpen = true
        dialog.showOpenDialog({
          properties: ['openDirectory'],
        }, this.openRepo)
      }
    },

    /**
     * Loads repo into memory of given path
     *
     * @param {string} path - path to open
     */
    loadRepo (path) {
      this.$store.repository.loadRepo(path)
    },

    /**
     * Opens repo and saved it in database
     *
     * @param {Array.<string>} - array of repos paths, only first one is considered
     */
    openRepo (pathArray = []) {
      this.isFileDialogOpen = false
      this.$refs.button.$el.blur()

      // multi-select is not allowed
      // only first path is interesting
      const path = pathArray[0]
      if (path) {
        this.$store.repositoryManager.save({ path })
        this.isManagerDialogOpen = false
        this.loadRepo(path)
      }
    },

    /**
     * Removes repo of given id from database
     *
     * @param {number} id - repo id
     */
    removeRepo (id) {
      this.$store.repositoryManager.remove({ id })
    },
  },
}
</script>
<template>
  <div class="repository-manager">

    <div class="repository-manager_path" v-if="path.length > 0">
      <span class="repository-manager_path_title">{{ $t('general.repository') }}:</span>
      <span class="repository-manager_pathfield">
        {{ path | cutPath }}
      </span>
    </div>

    <el-button
      type="primary"
      ref="button"
      @click="isManagerDialogOpen = true">
      {{ $t('interface.repoManager.openDialog') }}
    </el-button>

    <el-dialog
      width="75vw"
      :title="$t('interface.repoManager.dialogTitle')"
      :modal-append-to-body="false"
      :visible.sync="isManagerDialogOpen">

      <div class="repository-manager_add">

        <p class="repository-manager_add_desc">
          {{ $t('interface.repoManager.openRepoDesc') }}
        </p>

        <el-tooltip
          :content="$t('interface.repoManager.openRepo')"
          :open-delay="500"
          placement="bottom">
          <el-button
            type="primary"
            ref="button"
            @click="handleOpen"
            icon="icon ion-android-folder-open" />
        </el-tooltip>
      </div>

      <el-table
        :data="allRepositories">

        <el-table-column
          prop="path"
          min-width="75%"
          :label="$t('interface.repoManager.table.path')"
          />

        <el-table-column
          min-width="25%"
          align="right"
          >
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="success"
              @click="openRepo([scope.row.path])">Open</el-button>

            <el-tooltip
              :content="$t('interface.repoManager.removeRepo')"
              :open-delay="500"
              placement="bottom">
              <el-button
                size="mini"
                type="danger"
                @click="removeRepo(scope.row.id)"
                icon="ion-android-close"
                />
            </el-tooltip>
          </template>
        </el-table-column>

      </el-table>

    </el-dialog>

  </div>
</template>
<style lang="scss">
@import '~@/assets/scss/common';

.repository-manager {
  display: flex;
}

.repository-manager_path {
  display: flex;
  align-items: center;
}

.repository-manager_path_title {
  font-weight: bold;
}

.repository-manager_pathfield {
  margin: 0 1em;
}

.repository-manager_add {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.repository-manager_add_desc {
  margin-right: 1em;
}
</style>
