.prompt-input {
    .el-input__inner {
        background: $color-darkest;
        border-color: $color-darker;
        color: $color-lighter;
        height: 28px;
        line-height: 28px;

        &::placeholder {
            color: $color-dark;
        }
    }

    .el-input-group__append, .el-input-group__prepend {
        background: darken($color-darkest, 5%);
        color: $color-lighter;
        border-color: $color-darker;
        padding: 0 10px;
    }
}
