.topbar-field {
    font-size: 1rem;
    padding: 1em;
    background: transparent;
    border-radius: 0;
    border: 0;
    color: $color-light;
    transition-property: border-color, color, background;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
    border-style: solid;
    border-color: $color-darkest;
    border-left-width: 1px;
    border-right-width: 1px;

    &:hover, &:focus {
      color: $color-darker;
      background: $color-lightest;
      border-color: $color-lightest;
      // Pull up the element to show it's border
      z-index: 1;
      position: relative;
    }
}

.topbar-field + .topbar-field {
    margin-left: -1px;
}
