@import 'fonts';
@import 'common';

@import 'snippets';
@import 'element/override';
@import 'blocks/index';

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    @include font-basic(16px);
}

input, textarea, select, button {
    @include font-basic(16px);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $color-darkest;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: $color-darker;
}