$color-primary: #9d2929;
$color-primary-light: lighten($color-primary, 15%);
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-complete: #409EFF;

$color-darkest: #303133;
$color-darker: #606266;
$color-dark: #909399;
$color-light: #DCDFE6;
$color-lighter: #EBEEF5;
$color-lightest: #F2F6FC;