.el-notification__group,
.el-notification__content,
.el-notification__content > * {
    width: 100%;
}

.el-notification__content {
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
}